@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #7c3aed;
  --color-secondary: #6b7280;
  --color-accent: #f59e0b;
  --color-neutral: #f9fafb;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-font: #1f2937;
  --color-font-secondary: #6b7280;
  --color-white: #ffffff;

  /*Hover*/
  --color-primary-hover: #8b5cf6;
  --color-primary-active: #6d28d9;
  --color-accent-hover: #d97706;
  --color-neutral-hover: #e5e7eb;
}

@layer theme {
  [data-theme='dark'] {
    --color-primary: #6d28d9;
    --color-secondary: #9ca3af;
    --color-accent: #f59e0b;
    --color-neutral: #1f2937;
    --color-success: #34d399;
    --color-error: #f87171;
    --color-warning: #fbbf24;
    --color-font: #f9fafb;
    --color-font-secondary: #9ca3af;
    --color-white: #111827;

    /*Hover*/
    --color-primary-hover: #c4b5fd;
    --color-primary-active: #8b5cf6;
    --color-accent-hover: #fcd34d;
    --color-neutral-hover: #374151;
  }
}
